<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue_data</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
    .wrapper{
        margin:100px auto;
        width: 700px;
    }
    .basebg{
        background: #ff0000;
    }
    </style>
</head>
<body>
   <div class="wrapper">

        <div class="header">
        名称：<input type="text" v-model="inputname" placeholder="请输入产品名称">价格：<input type="text"  v-model="inputpic"><button @click="addProduct()">添加</button>
       <br>
        <input type="text" placeholder="请输入搜索信息" v-model="messge"><button @click="search()">查询</button>

        </div>
<hr>
        <ul class="content">

           
               <li @click.stop="istrue(shangping)" :class="{basebg: shangping.isTrue}" v-for="(shangping,index) in shangping">
                    <input type="checkbox" name="check" @click.stop v-model="Taglist" :value="index">
                    <button @click.stop="deleteed(index)">删除</button>
                     <span class="">{{shangping.name}}</span>
                      <span class="">价格：{{shangping.pic}}</span> 
                </li>

        </ul>


        <div class="footer">
                <button @click="deleteAfter()">删除选中</button>总价 <span class="pic">{{shangpingpic(shangping)}}</span>
        </div>

   </div>





    <script src="vue.js"></script>
    <script>
        let vm= new Vue({
            el:'.wrapper',
            
            data:{
                inputpic:0,
                inputname:'',
                messge:'',
                shangping:[
                  {isTrue:true,
                    pic:200,
                    name:'衣服',

                   } ,
                   {isTrue: true,
                    pic:3200,
                    name:'手机'
                    } ,
                   {isTrue: true,
                    pic:500,
                    name:'裤子'
                   } ,
                    { isTrue: true,
                        pic:800,
                        name:'眼镜'
                    },
                    {isTrue: true,
                     pic:7800,
                     name:'电脑'
                    },
                    
                ],

                Taglist:[],//左边多选框标志位存储数组
               
            },
            methods:{
                istrue(shangping){
                    shangping.isTrue = !shangping.isTrue;
                    
                    },
                    shangpingpic(shangping){
                        // console.log(shangping);
                        let sum=0;
                        for(let a of shangping){
                            if(a.isTrue===true){
                                sum+=a.pic;
                            }
                        }
                        return sum;
                    },
                    deleteed(a){
                       console.log(a);
                        this.shangping.splice(a,1)
                        console.log(this.shangping);
                        // shangping.splice(1,1,'')
                       
                    },
        
                    deleteAfter(){
                        // console.log(this.shangping);
                        this.shangping=this.shangping.filter((elem,index)=>{
                            if(!this.Taglist.includes(index)){
                                // console.log(index);
                                return elem;
                                // console.log(elem);
                            }                            
                        });
                        this.Taglist=[];
                    },
                    addProduct(){
                        this.shangping.push({
                            isTrue: true,
                            pic:parseInt(this.inputpic),
                            name:this.inputname
                        })
                        this.inputname='';
                        this.inputpic;
                        console.log(this.pic)

                    },
                    search(){
                      
                        
                        this.shangping=this.shangping.filter((elem,index)=>{
                           
                            if(this.messge.includes(elem.name)){
                                // console.log(index);
                                return elem;
                                // console.log(elem);
                            }                            
                        });
                        this.messge='';
                    }
                },
               computed:{
                // shangpingpic(){
                //         // console.log(shangping);
                //         let sum=0;
                //         for(let a of this.shangping){
                //             if(a.isTrue===true){
                //                 sum+=a.pic;
                //             }
                //         }
                //         return sum;
                //     },
                // 写在computed里面的函数没有传参数，但是必须上面引用到了才能调用，然后后期会牵连执行，就是检测到属于它的东西变动率就会重新计算。
                   
               }
               
                    
                
               

        })
    </script>
</body>
</html>